:root {
  --primary-text-color: #757575;
  --title-text-color: #ffffff;
  --accent-color: #2196f3;
  --secondary-color: #212121;
  --transparent-color: rgba(255, 255, 255, 0.6);
  --footer-color: #2f303a;
}

body {
  font-family: "Roboto";
  font-style: normal;
  background-color: var(--title-text-color);
  color: var(--primary-text-color);
}

.link {
  color: var(--secondary-color);
}

.logo {
  color: var(--accent-color);
}
.list {
  list-style: none;
}
.link:hover,
.link:focus {
  color: var(--accent-color);
}
.section-title {
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
}
.site-nav .link.current {
  color: var(--accent-color);
}

.hero {
  background-color: #2f303a;
}

.hero-title {
  color: var(--title-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
}
.title {
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.button {
  color: var(--title-text-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
}

.menu .menu-link {
  color: var(--primary-text-color);
}

.button-primary {
  color: var(--title-text-color);
  background-color: var(--accent-color);
}

.button-secondary {
  color: var(--secondary-color);
  background-color: var(--title-text-color);
}

.address .link {
  color: var(--accent-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.address .item {
  color: var(--title-text-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.footer {
  background-color: var(--footer-color);
}
