:root {
  --primary-text-color: #757575;
  --title-text-color: #ffffff;
  --accent-color: #2196f3;
  --secondary-color: #212121;
}

body {
  font-family: Roboto;
  background-color: var(--title-text-color);
  color: var(--primary-text-color);
}
.title {
  color: var(--title-text-color);
}
.menu-link {
  color: var(--secondary-color);
  font-family: Roboto;
}

.logo {
  color: var(--accent-color);
}
.list {
  list-style: none;
}
.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}
.section-title {
  color: var(--secondary-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
}

.hero {
  background-color: #2f303a;
}

.hero-title {
  color: var(--title-text-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
}
.feature-list .title {
  color: var(--secondary-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.button {
  color: var(--title-text-color);
  background-color: var(--accent-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
}
